/* stylelint-disable linebreaks */

/* Com a ajudado do Sugamo,
 usando o this para para o setInterval ser algo visto por todo o componente
https://stackoverflow.com/questions/47254124/clear-interval-in-react-class */

body {
  background-color: rgb(233, 233, 233);
  
}

.wrong {
  background-color: red;
  border: 3px solid red;
}

.correct {
  background-color: rgb(6, 240, 15);
  border: 3px solid rgb(6, 240, 15);
}

/* ============= QUESTION SECTION */
.question-section {
  align-items: center;
  background-color: lightblue;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: flex;
  font-size: 1.1rem;
  justify-content: space-around;
  text-align: center;
}

.question-card {
  padding: 0 10px;
  width: 700px;
}

.question-category {
  font-weight: bold;
}

.time-left {
  font-size: 1.4rem;
  font-weight: 700;
}

/* ============= ANSWER SECTION */
.answer-section {
  align-items: center;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  height: 61vh;
  justify-content: flex-start;
  padding-top: 5vh;
}

.answers-card {
  background-color: lightblue;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgb(143, 143, 143);
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  width: 50%;
}

.answers-card button {
  border-radius: 5px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  margin: 10px 0;
  padding: 2px 0;
}

.answers-card button:hover {
  background-color: rgba(255, 255, 60, 0.588);
}

.next-button {
  font-size: 1.2rem;
  margin-top: 20px;
  opacity: 0.8;
  padding: 5px 20px;
}

.next-button:hover {
  cursor: pointer;
  opacity: 1;
}
