/* stylelint-disable linebreaks */
header {
  align-items: center;
  background: linear-gradient(90deg, rgba(108,50,125,1) 0%, rgba(97,53,149,1) 29%, rgba(77,80,190,1) 72%, rgba(75,77,148,1) 99%);
  display: flex;
  height: 12vh;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

header h1 {
  color: white;
  padding-left: 10px;
}

.right-header {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 40px;
  width: 10%;
}

.right-header img {
  height: 40px;
  padding-right: 15px;
}

.right-header p {
  padding-right: 20px;
}
